.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 80px;
}

.socials {
    display: flex;
    display-flex: row;
    gap: 11px;
}

.linkedin {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.instagram {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.linkedin img {
    object-fit: contain;
    width: 2.5vw;
    min-width: 2.3vw;
    max-width: 60px;
    height: auto;
}

.instagram img {
    object-fit: contain;
    width: 2.5vw;
    min-width: 2.3vw;
    max-width: 60px;
    height: auto;
}


.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link {
    color: #000000;
    text-decoration: none;
    font-size: 1.8vw;
    font-weight: normal;
}
